!.env.example
.agents
.dockerignore
.editorconfig
.env*
.eslintrc*
.git
.github
.gitignore
.husky
.kilo
.next
.pnp*
.prettierignore
.prettierrc*
.vercel
.vscode
.yarn
*.md
*.pem
*.tsbuildinfo
AGENTS.md
commitlint.config.js
coverage
Dockerfile
eslint.config.*
kilo.jsonc
next-env.d.ts
node_modules
prettier.config.*
skills-lock.json