.image-mask {
  -webkit-mask-image: linear-gradient(0deg, transparent 0, black 60px);
  mask-image: linear-gradient(0deg, transparent 0, black 60px);
}

.image-modal-mask {
  mask-image: linear-gradient(0deg, transparent 0, black 30px);
  -webkit-mask-image: linear-gradient(0deg, transparent 0, black 30px);
}

.ratio-16x9 {
  --bs-aspect-ratio: 56.25%;
}
