.trailer-modal {
  & .body-wrapper {
    &:is(.dark *) {
      background-color: var(--color-review-modal);
    }
    width: 80vw;
    height: unset;
    min-height: unset;
    & .body {
      height: 100%;
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }
}
