/* Row */
@utility grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  width: calc(100% + 16px);
}

@utility grid-row-no-gutters {
  margin-left: 0;
  margin-right: 0;
}

/* Col */
@utility grid-col {
  padding-left: 8px;
  padding-right: 8px;
}

@utility grid-col-no-gutters {
  padding-left: 0;
  padding-right: 0;
}

/* Col size */
@utility grid-c-0 {
  display: none;
}
@utility grid-c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
@utility grid-c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
@utility grid-c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
@utility grid-c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
@utility grid-c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
@utility grid-c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
@utility grid-c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
@utility grid-c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
@utility grid-c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
@utility grid-c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
@utility grid-c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
@utility grid-c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
