#body-load {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: var(--background);
  opacity: 0.8;
  animation: body-load-effect 1.5s forwards;
}

#body-load,
#body-load .bl-logo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#body-load .bl-logo {
  max-width: 800px;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  line-height: 1.4;
  color: var(--primary);
  font-weight: 600;
  animation: logo-load 1.5s forwards;
}

@keyframes body-load-effect {
  0% {
    opacity: 100%;
    z-index: 1000;
  }
  75% {
    opacity: 100%;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}

@keyframes logo-load {
  0% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#body-load .bl-logo img {
  width: 60%;
  max-width: 360px;
  height: auto;
}
