.trailer-modal {
  overflow: hidden;

  &:is(.dark *) {
    background-color: transparent;
  }

  width: 85vw;
  height: auto;
  max-height: 100vh;
  min-height: auto;

  @media screen and (max-width: 1537px) {
    width: 82.5vw;
  }

  @media screen and (max-width: 1280px) {
    width: 95vw;
  }

  @media screen and (max-width: 800px) {
    width: 97.5vw;
  }
}
