.video-player {
  position: relative;
  height: 100%;
}

[data-media-player][data-layout='video']:not([data-fullscreen]) {
  border: none;
  border-radius: 0;
}

[data-part='cue-display'] {
  background: transparent !important;

  & [data-part='cue'] {
    --cue-bg-color: var(--media-user-text-bg, transparent);
    backdrop-filter: none;
    box-shadow: none;
  }
}
