.topic .mask {
  -webkit-mask-image: none !important;
  mask-image: none !important;
  -wbkit-mask-image: none !important;
  box-shadow: inset 0 0 30px 5px rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.topic .mask::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    -40deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.2)
  );
}

.topic .mask::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-mask-image: linear-gradient(-45deg, black, transparent 40%);
  mask-image: linear-gradient(-45deg, black, transparent 40%);
  background-image: url('/wave.png');
  background-repeat: no-repeat;
  background-size: 200px 140px;
  background-position: 100% 100%;
  opacity: 0.3;
}

.topic-detail-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50vh;
  mask-image: linear-gradient(0deg, transparent 0, black);
  -webkit-mask-image: linear-gradient(0deg, transparent 0, black);
  opacity: 0.5;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
