.watch-player {
  :where(.vds-video-layout .vds-controls[data-visible]) {
    border-radius: 0 !important;
  }

  [data-media-player][data-layout='video'] {
    background: transparent !important;
  }

  :where(.vds-poster) {
    background: transparent !important;
  }
}
