.watch-player {
  :where(.vds-video-layout .vds-controls[data-visible]) {
    border-radius: 0 !important;
  }

  [data-media-player][data-layout='video'] {
    background: transparent !important;
  }

  :where(.vds-poster) {
    background: transparent !important;
  }

  .vds-video-layout .vds-controls-group:first-child {
    padding-top: 12px;
    padding-inline: 12px;
  }
}
