@keyframes likePop {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.35) rotate(-60deg);
  }
  50% {
    transform: scale(1.35) rotate(45deg);
  }
  75% {
    transform: scale(1.35) rotate(-30deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes disLikePop {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.35) rotate(60deg);
  }
  50% {
    transform: scale(1.35) rotate(-45deg);
  }
  75% {
    transform: scale(1.35) rotate(30deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.like-pop {
  animation: likePop 0.5s linear;
}

.dislike-pop {
  animation: disLikePop 0.5s linear;
}
