.collection-movie-list {
  .swiper-container {
    position: relative;
    overflow: visible;
    width: 100%;

    & .swiper-button {
      color: #fff;
      background-color: transparent;
      border-radius: 50%;
      font-size: 40px;
      top: calc(50% - 28px);
      z-index: 10;
      position: absolute;
      opacity: 0.5;
      cursor: pointer;

      transition:
        color 0.2s linear,
        opacity 0.2s linear;

      &:hover {
        color: var(--color-golden-glow);
        opacity: 1;
      }
    }

    & .swiper-next-button {
      transform: translate(100%, -50%);
      right: -5px;
    }

    & .swiper-prev-button {
      transform: translate(-100%, -50%);
      left: -5px;
    }

    & .swiper-next-button::after,
    & .swiper-prev-button::after {
      font-size: 16px;
      font-weight: 600;
    }

    & .swiper-prev-button.swiper-button-disabled,
    & .swiper-next-button.swiper-button-disabled {
      display: none !important;
    }
  }
}
